.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}

.collection img {
    margin-top: 150px;
    width: 500px;
    height: auto;
    margin: 10px;
}
.collection h1{
    margin-top: 190px;
     margin-left: 80px;
     color: rgb(247, 131, 77) ;
    font-size: 30px;
}
.collection p{
    color: white;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 20px;
}
.collection p span{
    color: rgb(247, 131, 77) ;
}

